.table-actions {
  .table-button {
    cursor: pointer;
    &:nth-child(1) {
      color: #bd00bd;
    }
    &:nth-child(2) {
      color: #166df3;
    }
    &:nth-child(3) {
      color: #ff3333;
    }
  }
}
